---
- name: dysk | Checking for distribution config | {{ ansible_facts.distribution }}
  ansible.builtin.stat:
    path: "{{ role_path }}/tasks/{{ ansible_distribution }}.yml"
  register: dysk_distribution_config

- name: dysk | Run tasks | {{ ansible_facts.distribution }}
  ansible.builtin.include_tasks: "{{ ansible_facts.distribution }}.yml"
  when: dysk_distribution_config.stat.exists

- name: dysk | Download latest release
  ansible.builtin.get_url:
    url: https://dystroy.org/dysk/download/x86_64-linux/dysk
    dest: /usr/local/bin/dysk
    mode: '+x'
  become: true
