---
- name: "swww | Enable swww COPR repository | {{ ansible_distribution }}"
  community.general.copr:
    name: alebastr/sway-extras
    state: enabled
  become: true

- name: "swww | Install | {{ ansible_distribution }}"
  ansible.builtin.dnf:
    name:
      - swww
    state: present
  become: true
