---
- name: "nano | Checking for distribution config: {{ ansible_facts.distribution }}"
  ansible.builtin.stat:
    path: "{{ role_path }}/tasks/{{ ansible_facts.distribution }}.yml"
  register: nano_distribution_config

- name: "nano | Run tasks: {{ ansible_facts.distribution }}"
  ansible.builtin.include_tasks: "{{ ansible_facts.distribution }}.yml"
  when: nano_distribution_config.stat.exists

- name: "nano | Copy .nanorc"
  ansible.builtin.copy:
    src: "{{ role_path }}/files/.nanorc"
    dest: "{{ ansible_facts.user_dir }}/.nanorc"
    mode: '644'
