---
- name: System | Update pacman | {{ ansible_facts.distribution }}
  community.general.pacman:
    update_cache: true
    upgrade: true
    state: latest
  become: true

- name: System | Install | {{ ansible_facts.distribution }}
  community.general.pacman:
    name:
      - sudo
      - curl
      - wget
      - inetutils
    state: present
  become: true
