---
- name: System | Update DNF repos and upgrade DNF packages | {{ ansible_facts.distribution }}
  ansible.builtin.dnf:
    name: '*'
    update_cache: true
    update_only: true
    state: latest
  become: true

- name: System | Install | {{ ansible_facts.distribution }}
  ansible.builtin.dnf:
    name:
      - sudo
      - openssh-server
      - qemu-guest-agent
      - git
      - curl
      - wget
      - tar
    state: present
    update_cache: true
#     autoremove: true
  become: true
