---
- name: zoxide | Checking for distribution config | {{ ansible_distribution }}
  ansible.builtin.stat:
    path: "{{ role_path }}/tasks/{{ ansible_facts.distribution }}.yml"
  register: zoxide_distribution_config

- name: zoxide | Run tasks | {{ ansible_distribution }}
  ansible.builtin.include_tasks: "{{ ansible_facts.distribution }}.yml"
  when: zoxide_distribution_config.stat.exists
