---
- name: System | Install | {{ ansible_facts.distribution }}
  community.general.pacman:
    name:
      - zsh
      - zsh-autosuggestions
      - zsh-syntax-highlighting
    state: present
  become: true
