---
- name: "Zsh | Checking for Distribution Config: {{ ansible_distribution }}"
  ansible.builtin.stat:
    path: "{{ role_path }}/tasks/{{ ansible_distribution }}.yml"
  register: zsh_distribution_config

- name: "Zsh | Run Tasks: {{ ansible_distribution }}"
  ansible.builtin.include_tasks: "{{ ansible_distribution }}.yml"
  when: zsh_distribution_config.stat.exists

- name: Zsh | Set default shell
  user:
    name: "{{ ansible_env['USER'] }}"
    shell: /bin/zsh
  become: true

- name: Zsh | Copy .zshrc
  ansible.builtin.copy:
    src: "{{ role_path }}/files/.zshrc"
    dest: "{{ ansible_user_dir }}/.zshrc"
    mode: '644'
  
- name: Zsh | Copy .zshenv
  ansible.builtin.copy:
    src: "{{ role_path }}/files/.zshenv"
    dest: "{{ ansible_user_dir }}/.zshenv"
    mode: '644'