---
- name: Zsh | Install | {{ ansible_facts.distribution }}
  ansible.builtin.apt:
    name:
      - zsh
      - zsh-autosuggestions
      - zsh-syntax-highlighting
    state: present
  become: true
