/* Change desired theme here */
@import "colors.css";

* {
    font-family: 'Roboto';
    font-weight: bold;
    font-size: 16px;
    border: none;
    border-radius: 0px;
}

#window {
    background: @background;
    margin: 5px 15px 5px 0px;
    padding: 2px 10px 0px 10px;
    border-radius: 12px;
    color: @secondary;
    font-weight: normal;
    opacity: 1;
}

window#waybar {
    background-color: rgba(0, 0, 0, 0.8);
    border-bottom: 0px solid rgba(255, 255, 255, 0.8);
    /* color: #FFFFFF; */
    background: transparent;
    transition-property: background-color;
    transition-duration: 0.5s;
}

window#waybar.empty #window {
    background-color:transparent;
}

/*
window#waybar.hidden {
    opacity: 0.2;
}

window#waybar.empty {
    background-color: transparent;
}

window#waybar.solo {
    background-color: #FFFFFF;
}
*/

#workspaces {
    background: @on_background;
    /* consitent margin: */
    margin: 3px 15px 3px 0px;
    padding: 0px 1px;
    border-radius: 15px;
    border: 0px;
    font-weight: bold;
    font-style: normal;
    opacity: 1;
    color: @primary;
}

/* If workspaces is the leftmost module, omit left margin */
.modules-left > widget:first-child > #workspaces {
    margin-left: 0;
}

/* If workspaces is the rightmost module, omit right margin */
.modules-right > widget:last-child > #workspaces {
    margin-right: 0;
}

button {
    /* Use box-shadow instead of border so the text isn't offset */
    box-shadow: inset 0 -3px transparent;
    /* Avoid rounded borders under each button name */
    border: none;
    border-radius: 0;
}

/* https://github.com/Alexays/Waybar/wiki/FAQ#the-workspace-buttons-have-a-strange-hover-effect */
button:hover {
    background: inherit;
    box-shadow: inset 0 -3px rgba(0, 0, 0, 0.7);
}

#workspaces button {
    padding: 0px 5px;
    margin: 4px 3px;
    border-radius: 15px;
    border: 0px;
    color: @primary;
    background-color: @on_background;
    transition: all 0.3s ease-in-out;
    opacity: 0.4;
}

#workspaces button.active {
    color: @primary;
    background: @background;
    border-radius: 15px;
    min-width: 40px;
    transition: all 0.3s ease-in-out;
    opacity: 1.0;
}

#workspaces button:hover {
    color: @primary;
    background: @background;
    border-radius: 15px;
    opacity:0.7;
}
/*
#workspaces button.focused {
    background-color: #64727D;
    box-shadow: inset 0 -3px #ffffff;
}

#workspaces button.urgent {
    background-color: @error;
}
*/
#mode {
    background-color: #64727D;
    border-bottom: 3px solid #ffffff;
}

#taskbar {
    background: @background;
    margin: 3px 15px 3px 0px;
    padding: 0px;
    border-radius: 15px;
    font-weight: normal;
    font-style: normal;
    opacity: 1.0;
    border: 3px solid @background;
}

#taskbar button {
    margin:0;
    border-radius: 15px;
    padding: 0px 5px 0px 5px;
}

tooltip {
    border-radius: 10px;
    background-color: @background;
    opacity: 1.0;
    padding:20px;
    margin:0px;
}

tooltip label {
    color: @secondary;
}

#clock,
#battery,
#cpu,
#memory,
#disk,
#temperature,
#backlight,
#network,
#pulseaudio,
#wireplumber,
#mpris
#custom-media,
#tray,
#mode,
#idle_inhibitor {
    padding: 0 10px;
    color: #ffffff;
}

#clock {
    background-color: @background;
    color: @primary;
    border-radius: 15px;
    padding: 1px 10px 0px 10px;
    margin: 3px 15px 3px 0px;
    opacity: 1;
}

#battery {
    background-color: @background;
    color: @secondary;
    border-radius: 15px;
    padding: 2px 15px 0px 10px;
    margin: 5px 15px 5px 0px;
    opacity: 1;
}

#battery.charging, #battery.plugged {
    color: @secondary;
    background-color: @background;
}

@keyframes blink {
    to {
        background-color: @background;
        color: @secondary;
    }
}

#battery.critical:not(.charging) {
    background-color: @error;
    color: @tertiary;
    animation-name: blink;
    animation-duration: 0.5s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

label:focus {
    background-color: #000000;
}

#cpu {
    margin:0px;
    padding:0px;
    color:@primary;
}

#memory {
    margin:0px;
    padding:0px;
    color:@primary;
}

#disk {
    margin:0px;
    padding:0px;
    color:@primary;
}

#backlight {
    background-color: @background;
    color: @secondary;
    border-radius: 15px;
    padding: 2px 10px 0px 10px;
    margin: 8px 15px 8px 0px;
    opacity:0.8;
}

#network {
    background-color: @background;
    color: @secondary;
    border-radius: 15px;
    padding: 2px 10px 0px 10px;
    margin: 5px 15px 5px 0px;
    opacity: 1;
}

#network.disconnected {
    background-color: @error;
    border-radius: 15px;
    padding: 2px 10px 0px 10px;
    margin: 5px 15px 5px 0px;
    opacity: 1;
}

#pulseaudio {
    background-color: @background;
    color: @secondary;
    border-radius: 15px;
    padding: 2px 10px 0px 10px;
    margin: 5px 15px 5px 0px;
    opacity: 1;
}

#pulseaudio.muted {
    background-color: @background;
    color: @primary;
}

#wireplumber {
    background: transparent;
}

#wireplumber.muted {
    background: transparent;
}

#mpris {
    background-color: @background;
    color: @secondary;
    border-radius: 15px;
    padding: 2px 10px 0px 10px;
    margin: 5px 15px 5px 0px;
    opacity: 1;
}

#custom-media {
    background-color: #66cc99;
    color: #2a5c45;
    min-width: 100px;
}

#custom-media.custom-spotify {
    background-color: #66cc99;
}

#custom-media.custom-vlc {
    background-color: #ffa000;
}

#temperature {
    background-color: #f0932b;
}

#temperature.critical {
    background-color: @error;
}

#tray {
    padding: 0px 15px 0px 0px;
    color: @tertiary;
}

#tray > .passive {
    -gtk-icon-effect: dim;
}

#tray > .needs-attention {
    -gtk-icon-effect: highlight;
}

#idle_inhibitor {
    margin-right: 15px;
    font-size: 22px;
    font-weight: bold;
    opacity: 1;
    color: @primary;
}

#idle_inhibitor.activated {
    margin-right: 15px;
    font-size: 20px;
    font-weight: bold;
    opacity: 1;
    color: #dc2f2f;
}

#language {
    background: #00b093;
    color: #740864;
    padding: 0 5px;
    margin: 0 5px;
    min-width: 16px;
}

#keyboard-state {
    background: #97e1ad;
    color: #000000;
    padding: 0 0px;
    margin: 0 5px;
    min-width: 16px;
}

#keyboard-state > label {
    padding: 0 5px;
}

#keyboard-state > label.locked {
    background: rgba(0, 0, 0, 0.2);
}

#custom-notification {
    background-color: @background;
    color: @secondary;
    border-radius: 15px;
    padding: 2px 10px 0px 10px;
    margin: 5px 15px 5px 0px;
    opacity: 1;
}
