---
- name: Git | Set user.name
  community.general.git_config:
    name: user.name
    scope: global
    value: "{{ git_user_name }}"

- name: Git | Set user.email
  community.general.git_config:
    name: user.email
    scope: global
    value: "{{ git_user_email }}"
  no_log: true

- name: Git | Set environment variable
  ansible.builtin.set_fact:
    GIT_ASKPASS: "{{ gitlab_personal_access_token }}"

#- name: "Git | Set init.defaultBranch"
#  community.general.git_config:
#    name: init.defaultBranch
#    scope: global
#    value: main

#- name: "Git | Set pull.rebase"
#  community.general.git_config:
#    name: pull.rebase
#    scope: global
#    value: true

#- name: "Git | Set rebase.autoStash"
#  community.general.git_config:
#    name: rebase.autoStash
#    scope: global
#    value: true

#- name: "Git | Set user.signingkey"
#  community.general.git_config:
#    name: user.signingkey
#    scope: global
#    value: "{{ ansible_user_dir }}/.ssh/id_ed25519.pub"
