---
- name: SwayNC | Enable COPR repository | {{ ansible_facts.distribution }}
  community.general.copr:
    name: erikreider/SwayNotificationCenter
    state: enabled
  become: true

- name: SwayNC | Install | {{ ansible_facts.distribution }}
  ansible.builtin.dnf:
    name:
      - SwayNotificationCenter
    state: present
  become: true
