---
- name: wofi | Checking for distribution config | {{ ansible_facts.distribution }}
  ansible.builtin.stat:
    path: "{{ role_path }}/tasks/{{ ansible_facts.distribution }}.yml"
  register: tmux_distribution_config

- name: wofi | Run tasks | {{ ansible_facts.distribution }}
  ansible.builtin.include_tasks: "{{ ansible_facts.distribution }}.yml"
  when: tmux_distribution_config.stat.exists

- name: wofi | Copy config
  ansible.builtin.copy:
    src: "{{ role_path }}/files/wofi"
    dest: "{{ ansible_facts.user_dir }}/.config/"
    mode: '644'
    directory_mode: '755'
