---
- name: Fastfetch | Checking for distribution config | {{ ansible_facts.distribution }}
  ansible.builtin.stat:
    path: "{{ role_path }}/tasks/{{ ansible_facts.distribution }}.yml"
  register: fastfetch_distribution_config

- name: Fastfetch | Run tasks | {{ ansible_facts.distribution }}
  ansible.builtin.include_tasks: "{{ ansible_facts.distribution }}.yml"
  when: fastfetch_distribution_config.stat.exists

- name: Fastfetch | Copy config
  ansible.builtin.copy:
    src: "{{ role_path }}/files/fastfetch"
    dest: "{{ ansible_facts.ansible_user_dir }}/.config/"
    mode: '644'
    directory_mode: '755'
