---
- name: "micro | Checking for Distribution Config: {{ ansible_distribution }}"
  ansible.builtin.stat:
    path: "{{ role_path }}/tasks/{{ ansible_distribution }}.yml"
  register: micro_distribution_config

- name: "micro | Run Tasks: {{ ansible_distribution }}"
  ansible.builtin.include_tasks: "{{ ansible_distribution }}.yml"
  when: micro_distribution_config.stat.exists

- name: micro | Copy micro config
  ansible.builtin.copy:
    src: "{{ role_path }}/files/micro"
    dest: "{{ ansible_user_dir }}/.config/"
    mode: '644'
    directory_mode: '755'
