---
- name: Alacritty | Checking for distribution config | {{ ansible_facts.distribution }}
  ansible.builtin.stat:
    path: "{{ role_path }}/tasks/{{ ansible_facts.distribution }}.yml"
  register: alacritty_distribution_config

- name: Alacritty | Run tasks | {{ ansible_facts.distribution }}
  ansible.builtin.include_tasks: "{{ ansible_facts.distribution }}.yml"
  when: alacritty_distribution_config.stat.exists

- name: Alacritty | Copy Alacritty config
  ansible.builtin.copy:
    src: "{{ role_path }}/files/alacritty"
    dest: "{{ ansible_user_dir }}/.config/"
    mode: '644'
    directory_mode: '755'
