---
- name: btop | Checking for distribution config | {{ ansible_facts.distribution }}
  ansible.builtin.stat:
    path: "{{ role_path }}/tasks/{{ ansible_facts.distribution }}.yml"
  register: ncdu_distribution_config

- name: btop | Run tasks | {{ ansible_facts.distribution }}
  ansible.builtin.include_tasks: "{{ ansible_facts.distribution }}.yml"
  when: ncdu_distribution_config.stat.exists

- name: btop | Copy config
  ansible.builtin.copy:
    src: "{{ role_path }}/files/btop"
    dest: "{{ ansible_facts.user_dir }}/.config/"
    mode: '644'
    directory_mode: '755'
