---
- name: Neovim | Uninstall vim | {{ ansible_distribution }}
  community.general.pacman:
    name:
      - vim
    state: absent
  become: true

- name: Neovim | Install Neovim| {{ ansible_distribution }}
  community.general.pacman:
    name:
      - neovim
    state: present
  become: true