---
- name: Zellij | Checking for distribution config | {{ ansible_facts.distribution }}
  ansible.builtin.stat:
    path: "{{ role_path }}/tasks/{{ ansible_facts.distribution }}.yml"
  register: zellij_distribution_config

- name: Zellij | Run tasks | {{ ansible_facts.distribution }}
  ansible.builtin.include_tasks: "{{ ansible_facts.distribution }}.yml"
  when: zellij_distribution_config.stat.exists

- name: Zellij | Download latest version JSON
  ansible.builtin.uri:
    url: https://api.github.com/repos/zellij-org/zellij/releases/latest
  register: zellij_latest_version_json
  changed_when: false

- name: Zellij | Registering Latest Release
  ansible.builtin.set_fact:
    zellij_latest_release: "{{ zellij_latest_version_json.json.tag_name }}"

- name: Zellij | Registering Latest Version
  ansible.builtin.set_fact:
    zellij_latest_version: "{{ zellij_latest_release.stdout | default('') }}"

- name: Zellij | Getting version information
  ansible.builtin.shell:
    cmd: |
      /usr/local/bin/zellij --version | cut -d ' ' -f 2
  register: current_zellij_version
  changed_when: false
  failed_when: false

- name: Zellij | Registering Current Version
  ansible.builtin.set_fact:
    zellij_current_version: "v{{ current_zellij_version.stdout }}"

# - name: "Zellij | Show current_zellij_version debug"
#   ansible.builtin.debug:
#     var: zellij_current_version

# - name: "Zellij | Show zellij_latest_release debug"
#   ansible.builtin.debug:
#     var: zellij_latest_release

- name: Zellij | Install
  when: zellij_latest_release not in zellij_current_version|default('')
  block:
    - name: Zellij | Define zellij_file
      ansible.builtin.set_fact:
        zellij_file: "zellij-{{ ansible_machine }}-unknown-linux-musl"

    - name: Zellij | Downloading Release
      ansible.builtin.get_url:
        url: https://github.com/zellij-org/zellij/releases/download/{{ zellij_latest_release }}/{{ zellij_file }}.tar.gz
        dest: /tmp/
        mode: '644'

    - name: Zellij | Check if a previous installation exists
      ansible.builtin.stat:
        path: /usr/local/bin/zellij
      register: zellij_binary

    - name: Zellij | Remove any current installations
      ansible.builtin.file:
        path: /usr/local/bin/zellij
        state: absent
      become: true
      when: zellij_binary.stat.exists

    - name: Zellij | Extract tarball
      ansible.builtin.unarchive:
        src: /tmp/{{ zellij_file }}.tar.gz
        dest: /usr/local/bin
        creates: /usr/local/bin/zellij
        owner: root
        group: root
        remote_src: true
      become: true

    - name: Zellij | Remove tarball
      ansible.builtin.file:
        path: /tmp/{{ zellij_file }}.tar.gz
        state: absent
      become: true

- name: Zellij | Copy config
  ansible.builtin.copy:
    src: "{{ role_path }}/files/zellij"
    dest: "{{ ansible_facts.user_dir }}/.config/"
    mode: '644'
    directory_mode: '755'

- name: Zellij | Ensures plugins directory exists
  ansible.builtin.file:
    path: "{{ ansible_facts.user_dir }}/.config/zellij/plugins"
    state: directory
    mode: '755'

- name: Zellij | Downloading latest zjstatus release
  ansible.builtin.get_url:
    url: https://github.com/dj95/zjstatus/releases/latest/download/zjstatus.wasm
    dest: "{{ ansible_facts.user_dir }}/.config/zellij/plugins/"
    mode: '644'
